# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
android/app/debug
android/app/profile
android/app/release


# Exclude local configuration files that shouldn't be shared
android/key.properties
ios/Runner/GoogleService-Info.plist
**/*.keystore
**/*.jks
.env

# Backup files
*.bak
arkad/android
arkad/ios
arkad/linux/flutter/ephemeral/.plugin_symlinks
arkad/macos
arkad/windows/flutter/ephemeral/.plugin_symlinks
