# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
android/app/debug
android/app/profile
android/app/release


# Exclude local configuration files that shouldn't be shared
android/key.properties
**/*.keystore
**/*.jks
.env

# Backup files
*.bak
arkad/android
arkad/ios
arkad/linux/flutter/ephemeral/.plugin_symlinks
arkad/macos
arkad/windows/flutter/ephemeral/.plugin_symlinks
api/arkad_api/**
!api/arkad_api/.openapi-generator-ignore
sentry.properties

sentry.properties

# OpenAPI Generator CLI
openapi-generator-cli.jar
node_modules
api/.api_spec_hash


# Firebase configuration files, needed for notifications
ios/Runner/GoogleService-Info.plist
android/app/google-services.json
lib/firebase_options.dart
fastlane/AuthKey_XCPYNSNSG9.p8
fastlane/google_playstore_service_account.json
fastlane/report.xml
fastlane/AuthKey_Z668K9MPRU.p8
android/kls_database.db
assets/data/places.json
assets/images/companies/*.png
featuremodel.json
env/prod.json
lib/services/env.dart
